<html>
 <head>
  <title>ADD</title>
 </head>
 <body>

 <form name="test" method="post" action="">
  <p><b>phone:</b><br>
   <input type="text" name="phone" size="40">
  </p>
  <p><b>Name:</b><br>
   <input type="text" name="name" size="40">
  </p>
   <p><b>Country:</b><br>
   <input type="text" name="country" size="40">
  </p>
  <p><b>City:</b><br>
   <input type="text" name="city" size="40">
  </p>
  <p><b>Birthday:</b><br>
   <input type="text" name="birthday" size="40">
  </p>
 <button onclick="location.href='http://localhost:8080/';">Add</button>
 </form>
<button onclick="location.href='http://localhost:8080/';">Back to menu</button>
 </body>
</html>