<!doctype html>
<html class="no-js" lang="">
<meta charset="utf-8">

<head>
	<title>Patient card</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body class="addForm">
	<div class="wrapper"
		style="display: flex; justify-content: center; height: 100vh; align-items: center; flex-direction: column;width: 50%;">
		<table class="table table-bordered table-sm">
			<tbody>
				<tr>
					<th scope="row">Телефон</td>
					<td>{{ patient['phone_number']}}</td>
				</tr>
				<tr>
					<th scope="row">ФИО</td>
					<td>{{ patient['name']}}</td>
				</tr>
				<tr>
					<th scope="row">Страна</td>
					<td>{{ patient['country']}}</td>
				</tr>
				<tr>
					<th scope="row">Город</td>
					<td>{{ patient['city'] }}</td>
				</tr>
				<tr>
					<th scope="row">Дата рождения</td>
					<td>{{ patient['date_of_birth']['$date'] }}</td>
				</tr>
			</tbody>
		</table>
		<div class="row">
			<div class="col" style="padding:10px">
				<button class="btn btn-secondary"
					onclick="location.href='http://localhost:8080//card/{{patient['phone_number']}}/dynamic';">Динамика</button>
			</div>
			<div class="col" style="padding:10px">
				<button class="btn btn-secondary"
					onclick="location.href='http://localhost:8080//card/{{patient['phone_number']}}/contacts';">Контакты</button>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<button class="btn btn-secondary"
					onclick="location.href='http://localhost:8080/card//{{patient['phone_number']}}/diseases';">Болезни</button>
			</div>
			<div class="col">
				<button class="btn btn-secondary"
					onclick="location.href='http://localhost:8080/card/{{patient['phone_number']}}/edit';">Изменить</button>
			</div>
		</div>
		<div class="row">
			<div class="col" style="margin:10px;">
				<button class="btn btn-secondary" onclick="location.href='http://localhost:8080/';">На главную</button>
			</div>
		</div>
	</div>

</body>