<html>
 <head>
  <title>EDIT</title>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
 </head>
 <body>

 <form name="test" method="post" action=""}>
  <p><b>phone:</b><br>
   <input type="text" name="phone" size="40" value = {{patient['phone_number']}}>
  </p>
  <p><b>Name:</b><br>
   <input type="text" name="name" size="40" value = {{patient['name']}}>
  </p>
   <p><b>Country:</b><br>
   <input type="text" name="country" size="40" value = {{patient['country']}}>
  </p>
  <p><b>City:</b><br>
   <input type="text" name="city" size="40" value = {{patient['city']}}>
  </p>
  <p><b>Birthday:</b><br>
   <input type="date" name="birthday" size="40" value = {{patient['$date']}}>
  </p>
 <button onclick="location.href='http://localhost:8080/';"  method="get">Save</button>
 </form>
 <button onclick="location.href='http://localhost:8080/';">Back to menu</button>
 <button onclick="deletePerson()">Удалить</button>
 </body>
<script type="text/javascript">
    function deletePerson() {
        $.ajax({
            type: "DELETE",
            url: window.location,
            success: function () {
                window.location.href = 'http://localhost:8080/';
                alert("Пациент удален!");
            }
        });
    }
</script>
</html>
