<html>
 <head>
  <title>EDIT CONTSCTS</title>
 </head>
 <body>

 <form name="test" method="post" action=""}>
  <p><b>Symptom:</b><br>
   <input type="text" name="symptom" size="40" value = {{old_symp['symptom']}}>
  </p>
  <p><b>Date:</b><br>
   <input type="text" name="date" size="40" value = {{old_symp['date']}}>
  </p>
 <button onclick="location.href='http://localhost:8080/card/{{phone_number}}/dynamic';"  method="get">Edit</button>
 </form>
<button onclick="location.href='http://localhost:8080/';">Back to menu</button>
 </body>
</html>