<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Зараженные</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>

  <div class="wrapper">
    <div class="firstColumn column">
      <div class="stat">
        <button onclick="location.href='http://localhost:8080/statistic'">Статистика</a>
      </div>
      <form action="" method="post">
        <div class="search" method="get">
          <input id="searchTxt" type="text" placeholder="Поиск" name="input_search" action="" onchange="updateTable()">
          <select id="searcher" name="searcher" method="post" onchange="updateTable()">
            <option value="none">Выберите атрибут</option>
            <option value="name">ФИО</option>
            <option value="country">Страна</option>
            <option value="city">Город</option>
            <option value="phone">Телефон</option>
          </select>
      </form>
      <button onclick="location.href='http://localhost:8080';">Применить</button>
    </div>
    <div class="filter">
      <label for="filter">Фильтр</label>
      <select id="filter">
        <option>Ada</option>
        <option>Grace</option>
        <option>Marga</option>
        <option>Joan</option>
      </select>
      <input type="text" placeholder="Введите значение">
      <button>Применить</button>
    </div>
  </div>
  <div class="secondColumn column">
    <table id="mainTable">
      <thead>
        <tr>
          <th>Телефон</th>
          <th>ФИО</th>
          <th>Страна</th>
          <th>Город</th>
          <th>Дата рождения</th>
        <tr>
      </thead>
      <tbody>
        {% for phone, name, country, city, birthday in people %}
        <tr onclick="location.href='{{ url_for('card_patient', phone_number=phone) }}';" style="cursor: pointer;">
          <td>{{ phone }}</td>
          <td>{{ name }}</td>
          <td>{{ country }}</td>
          <td>{{ city }}</td>
          <td>{{ birthday }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="buttons">
      <button onclick="location.href='http://127.0.0.1:8080/add'">Добавить человека</button>
      <button onclick="move_forward()">Экспорт</button>
      <button>Импорт</button>
    </div>
  </div>

</body>

</html>
<script type="text/javascript">
  var people = "{{people}}".replace(/&#39;/g, "\"");
  people = JSON.parse(people);
  var attributes = ["phone", "name", "country", "city", "birthday"];
  function updateTable() {
    var selectSearch = document.getElementById("searcher");
    var searchAttr = selectSearch.value;
    var searchTxt = document.getElementById("searchTxt").value;
    var table = document.getElementById("mainTable").getElementsByTagName('tbody')[0];
    if (searchAttr == "none" | searchTxt == null) {
      searchTxt = "";
      searchAttr = "name"
    }
    table.innerHTML = "";
    for (var i=0; i<people.length; i++) {
      var ind = attributes.indexOf(searchAttr)
      patient = people[i];
      if (patient[ind].includes(searchTxt)) {
        var newRow = table.insertRow();
        newRow.onclick = function(){
          location.href='/card/'+patient[0];
        }
        newRow.style = "cursor: pointer;";
        for (var j = 0; j < 5; j++) {

          // Insert a cell at the end of the row
          var newCell = newRow.insertCell();

          // Append a text node to the cell
          var newText = document.createTextNode(patient[j]);
          newCell.appendChild(newText);
        }

      }
    }
  }
</script>
