<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/person.css') }}">
</head>
<body>
    <form class="decor">
      <div class="form-left-decoration"></div>
      <div class="form-right-decoration"></div>
      <div class="circle"></div>
      <div class="form-inner">
        <input type="text" placeholder="ФИО">
        <input type="date" placeholder="Дата рождения">
      </div>
    </form>
</body>
</html>