<html>

<head>
	<title>ADD</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}" />
	<meta http-equiv="Pragma" content="no-cache" />
</head>

<body class="addForm">
	<div>
		<img src="http://localhost:8080/chart/{{tmp}}/{{time}}" alt="Chart" method="post" height="auto" width="100%">
	</div>
	<form action="" method="get">
		<div class="filter" method="post">
			<label for="filter">ось X</label>

			<select id="filter" method="get" name="XX" style="width: 100px">
				<option value="Country">Country</option>
				<option value="City">City</option>
				<option>Last week</option>
			</select>

		</div>
		<div class="list">
			<button class="list-item" onclick="location.href='http://localhost:8080/statistic';">Построить</button>
			<button class="list-item" onclick="location.href='http://localhost:8080'">Назад</button>
		</div>
	</form>
</body>

</html>
